<div class="container py-5">
  <div class="text-center">
    <%= image_tag "cookie_monster.jpg",
    class: "rounded-circle mb-2",
    style: "width: 80px; height: 80px; object-fit: cover;",
    alt: "Profile picture" %>
  </div>

  <div class="banner text-center">
    <h5 class="display-5 fw-bold">Hello, <%= @profile_information.name %>!</h5>
    <p class="profile-intro-text mx-auto">The more accurate the information you share about you, the better we can tailor your meal plans. ;)</p>
  </div>
  <div class="row mb-5">
  <div class="col-md-10 mx-auto">
    <div class="card border-0 shadow-sm p-4" style="border-radius: 12px; background: #f8f9fa;">
      <div class="row">
        <div class="">
          <div class="card-header-actions">
            <h4 class="fw-bold mb-3">Profile Information</h4>
            <div class="card-actions">
              <%= link_to edit_user_profile_information_path(current_user) do %>
                <i class="fa-solid fa-pen fa-sm"></i>
              <% end %>
            </div>
          </div>

          <ul class="list-unstyled mb-0">
            <li class="mb-2"><strong>Name:</strong> <%= @profile_information.name.capitalize %></li>
            <li class="mb-2"><strong>Gender:</strong> <%= @profile_information.gender.capitalize %></li>
            <li class="mb-2"><strong>DOB:</strong> <%= @profile_information.date_of_birth %></li>
            <li class="mb-2"><strong>Height:</strong> <%= @profile_information.height %>cm</li>
            <li class="mb-2"><strong>Weight:</strong> <%= @profile_information.weight %>kg</li>
            <li class="mb-2"><strong>Restrictions:</strong> <%= @profile_information.restrictions.capitalize.presence || "None" %></li>
            <li class="mb-2"><strong>Conditions:</strong> <%= @profile_information.conditions.capitalize.presence || "None" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mb-4">

  </div>
  <div class="meal-plans-title col-md-10 mx-auto">
    <h2>Meal Plans</h2>
    <%= link_to new_user_meal_plan_path(current_user), class: "btn btn-outline-primary" do %>
      <i class="fa-solid fa-plus"></i> New plan
    <% end %>
  </div>

  <% @meal_plans.each do |plan| %>
    <div class="row mb-4">
      <div class="col-md-10 mx-auto">
        <div class="card border-0 shadow-sm p-4" style="border-radius: 12px; background: #f8f9fa;">

          <div class="card-header-actions">
            <h4 class="fw-bold mb-3"><%= plan.plan_title %></h4>
            <div class="card-actions">
              <%= link_to user_meal_plan_chat_path(current_user.id, plan) do %>
                <i class="fa-solid fa-pen fa-sm"></i>
              <% end %>
              <%= link_to user_meal_plan_path(current_user.id, plan), method: :delete, data: { confirm: "Delete this meal plan? All chats will be lost." } do %>
                <i class="fa-solid fa-trash-can fa-sm"></i>
              <% end %>
            </div>
          </div>

          <div class="meal-requirements">
            <ul class="list-unstyled mb-0 requirements-list">
              <li class="mb-2">
                <i class="fa-solid fa-medal fa-lg meal-icon"></i>
                <p class="box-title-small">Plan goal</p>
                <p class="box-body-txt"><%= plan.goal.capitalize %></p>
              </li>
              <li class="mb-2">
                <i class="fa-duotone fa-solid fa-cookie-bite fa-lg meal-icon"></i>
                <p class="box-title-small">Diet type</p>
                <p class="box-body-txt"><%= plan.diet.capitalize %></p>
              </li>
              <li class="mb-2">
                <i class="fa-solid fa-utensils fa-lg meal-icon"></i>
                <p class="box-title-small">Meals required</p>
                <p class="box-body-txt"><%= plan.meals_required.capitalize %></p>
              </li>
            </ul>
          </div>

          <div class="considerations">
            <p>Other considerations</p>
            <p class="considerations-description"><%= plan.additional_preferences.capitalize %></p>
          </div>

          <div class="view-details-link d-flex justify-content-end">
            <%= link_to user_meal_plan_path(current_user.id, plan) do %>
              View <i class="fa-solid fa-chevron-right" style="vertical-align: middle";></i>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
