<div class="row container">
  <div class="col">
    <h1><%= @meal_plan.name %></h1>
    <%= raw(render_markdown(@meal_plan.content)) %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @chats.any? %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1><%= @meal_plan.name %></h1>
    <%= raw(render_markdown(@meal_plan.content)) %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <!-- ... -->

    <%= button_to "Create a new meal plan", challenge_chats_path(@meal_plan), class: "btn btn-primary" %>
  </div>
</div>
